*,
*::before,
*::after {
  box-sizing: border-box
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0
}

ul[role="list"],
ol[role="list"] {
  list-style: none
}

html:focus-within {
  scroll-behavior: smooth
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5
}

a:not([class]) {
  text-decoration-skip-ink: auto
}

img,
picture {
  max-width: 100%;
  display: block
}

input,
button,
textarea,
select {
  font: inherit
}

@media(prefers-reduced-motion:reduce) {
  html:focus-within {
    scroll-behavior: auto
  }

  *,
  *::before,
  *::after {
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: .01ms !important;
    scroll-behavior: auto !important
  }
}

body#loginBody {
  background: url('../images/login-background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: arial;
}

div.loginHeader {
  text-align: center;
}

.alignLeft{
  text-align: left;
}

div.loginHeader {
  margin-bottom: 60px;
}

div.loginHeader h1 {
  font-size: 100px;
  color: #f685a2;
  padding: 0px;
  margin: 0px;
}

div.loginHeader p {
  color: #ffdae3;
  text-decoration: none;
  font-size: 50px;
  margin: 0px;
  text-transform: uppercase;
  display: inline-block;
}

div.loginHeader p:after {
  content: '';
  display: block;
  height: 5px;
  background: #f685a2;
  margin: 0 auto;
}

div.loginBody form {
  margin: 0 auto;
  width: 500px;
  background: rgba(0, 0, 0, .5);
  padding: 50px;
  border: 2px solid #fff;
  border-radius: 5px;
}

div.loginInputsContainer {
  margin-top: 20px;
}

div.loginInputsContainer label {
  display: block;
  text-transform: uppercase;
  font-size: 20;
  font-weight: bold;
  color: #fff;
}

div.loginInputsContainer input {
  height: 30px;
  width: 100%;
  border: 2px solid #d40339;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

div.loginInputsContainer {
  margin-top: 40px;
  text-align: center;
}


div.loginInputsContainer button {
  font-size: 30px;
  padding: 10px 20px;
  background: #f685a2;
  border: none;
  color: #fff;
}

div.header {
  width: 100%;
  background: #f685a2;
  padding: 10px 0px;
  text-align: right;
}

div.header a {
  font-size: 20px;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  border: 2px solid transparent;
  border-bottom: 2px solid #fff;
}

div.header a:hover {
  border: 2px solid #fff;
  border-radius: 5px;
}

div.banner {
  background: url('../images/banner-background.jpg') no-repeat center center fixed;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 80vh;
}

div.homepageContainer {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

div.bannerHeader h1 {
  font-size: 100px;
  color: #f685a2;
  line-height: 100%;
}

div.bannerHeader p {
  font-size: 40px;
  color: #f685a2;
  text-transform: uppercase;
  line-height: 100%;
}

p.bannerTagline {
  margin-top: 20px;
  font-size: 25px;
  color: #fff;
}

div.bannerIcons {
  margin-top: 80px;
}

div.bannerIcons a {
  font-size: 25px;
  margin-left: 40px;
  padding: 7px 14px;
  background: rgba(0, 0, 0, .5);
  color: #868485;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-block;
}

div.bannerIcons a:first-child {
  margin-left: 0px;
}

div.bannerIcons a:hover {
  color: #fff;
  font-size: 25px;
  background: #f685a2;
  transition: .5s all;
}

/* homepage */

div.homepageFeatures {
  display: flex;
  flex-direction: row;
  padding: 50px 0px;
}

div.homepageFeature {
  padding: 10px 20px;
  text-align: center;
  width: 33.33%;
}

div.homepageFeature:hover {
  border-top: 2px solid #f8a4b9;
  border-bottom: 2px solid #f8a4b9;
  transition: 0.5s all;
}

div.homepageFeature span.featureIcon {
  height: 80px;
  width: 80px;
  display: inline-block;
  font-size: 50px;
  background: #f685a2;
  color: #fff;
  /* padding-left: 3px; */
  padding-top: 5px;
  border-radius: 50%;
  margin-bottom: 20px;
}

div.homepageFeature h3.featureTitle {
  margin-bottom: 20px;
  font-size: 23px;
}

div.homepageFeature p.featureDescription {
  color: #848484;
  font-size: 18px;
}

div.homepageNotified {
  background: #e3e3e3;
  padding: 80px 0px;
}

div.homepageNotifiedContainer {
  display: flex;
  flex-direction: row;
}

div.emailForm h3 {
  font-size: 25px;
}

div.emailForm {
  width: 40%;
}

div.video {
  width: 60%;
  text-align: center;
}

div.homepageNotified h3 {
  margin-bottom: 20px;
}

div.homepageNotified p {
  color: #848484;
  line-height: 200%;
  margin-bottom: 30px;
}

div.formContainer {
  width: 80%;
  position: relative;
}

div.formContainer input {
  width: 100%;
  padding: 15px 10px;
  border-radius: 15px;
  border: none;
}

div.formContainer input:focus {
  outline: none;
}

div.formContainer button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 22px;
  padding: 0px 10px;
  background: #f685a2;
  border: none;
  color: #fff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

iframe {
  width: 80%;
  height: 100%;
}

div.socials {
  text-align: center;
  padding: 70px 0 40px 0px;
}

h3.socialHeader {
  font-size: 30px;
}

p.socialText {
  margin-top: 20px;
  margin-bottom: 25px;
  color: #848484;
  font-size: 20px;
}

div.socialIconsContainer a {
  font-size: 23px;
  height: 50px;
  width: 50px;
  display: inline-block;
  padding-top: 7px;
  background: #d4d4d4;
  border-radius: 50%;
  color: #fff;
  margin-left: 20px;
}

div.socialIconsContainer a:hover {
  background: #f8a4b9;
  transition: 0.3s all;
}

div.footer {
  background: #e3e3e3;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

div.footer a {
  color: #848484;
  margin-left: 30px;
  text-decoration: none;
}

div.footer a:hover {
  font-weight: bold;
  color: #f8a4b9;
  transition: 0.5s all;
}

/* dashboard style*/
#dashboardMainContainer {
  display: flex;
  flex-direction: row;
}

div.dashboard_sidebar {
  width: 20%;
  background: #323232;
  height: 100vh;
  /* position: fixed;
  left: 0;
  top: 0; */
}

div.dashboard_content_container {
  width: 80%;
  /* margin-left: 20%; */
  background: #f4f6f9;
}

h3.dashboard_logo {
  color: #f685a1;
  font-size: 80px;
  text-align: center;

}

div.dashboard_sidebar_user {
  text-align: center;
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
  /* display: flex;
  flex-direction: row; */
}

/* 
div.dashboard_sidebar {
  width: 20%;
  background: #323232;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
} */

/* div.dashboard_content_container {
  width: 70%;
  margin-left: 20%;
}

h3.dashboard_logo {
  color: #f685a2;
  font-size: 80px;
  text-align: center;
}

div.dashboard_sidebar_user {
  text-align: center;
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;

} */

div.dashboard_sidebar_user img {
  width: 80px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #f685a2;
  margin-right: 5px;
  vertical-align: middle;
}

div.dashboard_sidebar_user span {
  top: 20%;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
}

ul.dashboard_menu_lists {
  padding: 20px;
  margin-top: 20px;
  list-style: none;
}

ul.dashboard_menu_lists li.liMainMenu {
  padding-top: 15px;
  /* font-size: 18px; */
  text-transform: uppercase;
}

ul.dashboard_menu_lists li.liMainMenu a {
  text-decoration: none;
  color: #fff;
  /* height: 100%; */
  display: block;
  font-size: 14px;
  padding: 0px 15px;
  padding-bottom: 15px;
  padding-right: 0px;
}

ul.dashboard_menu_lists li.liMainMenu a i {
  font-size: 13px;
  width: 30px;
}

/* ul.dashboard_menu_lists li.menuActive {
  background: #f685a2;
  color: #fff;
} */

ul.dashboard_menu_lists li:hover {
  background: #f685a2;
  color: #fff;
  transition: 0.3s all;
}

/* div.dashboard_content_container {
  position: relative;
} */

/* topNav */

/* div.dashboard_topNav {
  position: fixed;
  background: #fff;
  padding: 20px;
  z-index: 1000;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div.dashboard_topNav a {
  color: #848383;
  font-size: 18px;
  text-decoration: none;
}

a#logoutBtn {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dashboard_content {
  padding-top: 70px;
  padding: 70px 20px 20px 20px;
}

div.dashboard_content {
  padding: 50px 10px 10px 10px;
}

div.dashboard_content_main {
  background: #fff;
  min-height: 800px;
  height: 100%;
} */

div.loginButtomContainer button {
  font-size: 30px;
  padding: 10px 20px;
  background: #f685a2;
  border: none;
  color: #fff;
}

div.header {
  width: 100%;
  height: 30px;
  background: #f685a2;
  /* width: 60px; */
  display: inline-block;
  /* border-radius: 50%; */
  border: 2px solid #f685a2;
  margin-right: 5px;
  vertical-align: middle;
}

/* div.dashboard_sidebar_user span {
  top: 20%;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
} */

/* ul.dashboard_menu_lists {
  list-style: none;

  margin-top: 20px;
}

ul.dashboard_menu_lists li {
  padding: 15px 15px;

  text-transform: uppercase;
}

ul.dashboard_menu_lists li a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 20px;
}

ul.dashboard_menu_lists li a i {
  font-size: 25px;
  margin-right: 10px;
}

ul.dashboard_menu_lists li.menuActive {
  background: #f685a2;
  color: #fff;
}

ul.dashboard_menu_lists li:hover {
  background: #f685a2;
  color: #fff;
  transition: 0.3s all;
}

div.dashboard_content_container {
  position: relative;
} */

div.dashboard_topNav {
  /* position: fixed; */
  background: #fff;
  padding: 20px;
  /* z-index: 1000;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

div.dashboard_topNav a {
  color: #848383;
  font-size: 18px;
  text-decoration: none;
}

a#logoutBtn {
  /* display: flex;
  align-items: center;
  gap: 5px; */
  float: right;
}

/* .dashboard_content {
  padding-top: 70px;
  padding: 70px 20px 20px 20px;
} */

/* mới sửa */
/* div.dashboard_content {
  padding: 50px 10px 10px 10px;
} */

div.dashboard_content_main {
  background: #fff;
  min-height: 800px;
  height: 100%;
  border: 1px solid green;
  padding-left: 30px;
}

div#errorMessage {
  background: #fff;
  text-align: center;
  color: red;
  font-size: 20px;
  padding: 11px;
}

/* form user_add */

p.responseMessage {
  font-size: 18px;
  text-align: center;
  margin-top: 33px;
  background: rgba(0, 128, 0, 0.1);
  padding: 20px;
}

p.responseMessage_error {
  background: rgb(255, 0, 0);
}

p.responseMessage_success {
  background: rgba(0, 128, 0, 0.1);
}

ul.subMenus {
  list-style: none;
  background: #c26a80;
  padding: unset;
  display: none;
}

a.subMenuLink {
  padding-top: 10px !important;
  padding-left: 25px !important;
  padding-bottom: 10px !important;
  text-decoration: none;
  font-size: 15px !important;
}

a.subMenuLink i {
  font-size: 10px !important;
  width: 16px !important;
}

i.mainMenuIconArrow {
  float: right;
  font-size: 15px !important;
  margin-top: 7px;
  ;
}

.subMenuActive {
  font-weight: bold;
  /* border-top: 2px solid white;
  border-bottom: 2px solid white;
  background: #763a49; */
}

.productTextAreaInput {
  width: 100%;
  height: 75px;
  border-radius: 5px;
  border-color: #d7d7d7;
}

/* view products */

.productImages {
  width: 100px;
  height: 100px;

}

/* quản lý đơn hàng */

.poList {
  margin-bottom: 25px;
  padding: 15px;
  border-bottom: solid 1px #d1d1d1;
  border-radius: 5px;
  background: #fbfbfb;
}

.poList p {
  font-weight: bold;
  text-transform: uppercase;
  color: #d55f7d;
  font-size: 16px;
}

.poList table td,
.poList table th {
  border: none;
  border-bottom: 1px dotted #b7b7b7;
}

.poList table td {
  padding: 13px 14px;
  font-size: 13px;
}

.poList table th {
  padding: 15px 10px;
}

.poOrderUpdateBtnContainer {
  margin-top: 20px;
}

.updatePoBtn {
  color: #f685a2;
  background: #fff;
  border: 1px solid #f685a2;
}

.updatePoBtn:hover {
  color: #fff;
  background: #f685a2;
}

.po-badge {
  padding: 4px 6px;
  border: 1px solid;
}

.po-badge-pending {
  background: #ff7c76;
  border-color: #556455;

}

.po-badge-complete {
  background: #b5ebb5;
  border-color: green;
}

.po-badge-incomplete {
  background: #f7e640;
  border-color: #392b2b;
  border-color: #a3a3a3;
}
