*,
*::before,
*::after {
  box-sizing: border-box
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0
}

ul[role="list"],
ol[role="list"] {
  list-style: none
}

html:focus-within {
  scroll-behavior: smooth
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5
}

a:not([class]) {
  text-decoration-skip-ink: auto
}

img,
picture {
  max-width: 100%;
  display: block
}

input,
button,
textarea,
select {
  font: inherit
}

@media(prefers-reduced-motion:reduce) {
  html:focus-within {
    scroll-behavior: auto
  }

  *,
  *::before,
  *::after {
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: .01ms !important;
    scroll-behavior: auto !important
  }
}


body#loginBody {
  background: url('../images/login-background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;

}

div.loginHeader {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

div.loginHeader h1 {
  color: #a47864;
  font-size: 50px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

div.loginHeader p {
  color: #a47864;
  font-size: 25px;
  margin: 30px;
  text-transform: uppercase;
  display: inline-block;
}

div.loginHeader p:after {
  content: "";
  display: block;
  margin: 0 auto;
  height: 5px;
  border-bottom: 2px solid #a47864;
}

div.loginBody form {
  margin: 0 auto;
  width: 500px;
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border: 2px solid #a47864;
  border-radius: 15px;
  backdrop-filter: blur(10px);
}

div.loginInputContainer {
  margin-top: 30px;
  text-align: center;

}

div.loginInputContainer label {
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #a47864;
}

div.loginInputContainer input {
  height: 15px;
  width: 95%;
  padding: 10px;
  margin: 5px;
  border: #a47864 2px solid;
  font-size: 20px;
  text-align: center;
  font-style: italic;
}

div.loginInputContainer button {
  font-size: 20px;
  padding: 10px 40px;
  background: #a47864;
  color: white;
  border: none;
}

div#error_message {
  color: red;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}


div.header {
  width: 100%;
  height: 20px;
  background: #a47864;
}

div.ban