.orderProductBtn {
    background: #d93f65;
    color: #fff;
  }
  
.orderBtn{
    height: 33px;
    border: none;
    padding: 2px 10px;
    border-radius: 4px;
    font-size: 16px;
  }

.submitOrderProductBtn{
    background: #323232;
    color: #fff;
    font-weight: bold;

}

.marginTop20{
    margin-top: 20px;
}
.alignRight {
    text-align: right;
  }

#orderProductLists {
    margin-top: 20px;
}

.productNameSelect {
    font-size: 15px;
    border: none;
    background: #fafafa;
    padding: 3px 17px;
    border: 1px solid #b0b0b0;
    border-radius: 2px;
}

.orderProductRow {
    padding: 6px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 25px;
    padding-bottom: 25px;
}

#orderProductLists .row {
    margin: 0px !important;
}

.suppliersRows .supplierName {
    margin-left: 12px;
    font-size: 15px;
    font-weight: bold;
    color: #a1a1a1;
    text-transform: uppercase;
}

.suppliersRows .row {
    padding: 8px 0px;
}

.orderProductQty{
    height: 27px;
    border: none;
    background: #f8f8f8;
    text-indent: 10px;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
}

.appbtn{
    border: none;
    padding: 4px 8px;
    background: #ff5858;
    border: 2px;
}

.removeOrderBtn{
    background: #ff5858;
    color: #fff;
    float: right;
}